.DS_Store
/uniprot/HUMAN_9606_idmapping.dat
/biogrid/BIOGRID-IDENTIFIERS-3.4.134.tab.txt
/biogrid/BIOGRID-IDENTIFIERS-3.4.134.tab.zip
/biogrid/BIOGRID-ORGANISM-3.4.134.tab2/
/NCBI_Gene/gene_info
/NCBI_Gene/geneID-symbol_and_description-mapping.txt